@import "https://fonts.googleapis.com/css?family=Lato:400,700";


body {
     font-family: 'Lato', sans-serif;
    background-color: #eee;
}
#page-wrapper{
    width: 100%;
    margin: auto;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}
.how {
    position: absolute;
    display: flex;
    top: 70px;
    font-size: 5vw;
    font-weight: 600;
}
#how-it-works {
    margin-top: 20px;
}
@media screen and (max-width: 769px){
    iframe {
        width: 400px;
        height: 350px;  
        margin: auto;
    }
}
@media screen and (min-width: 760px){
    .how {
        font-size: 20px;
    }
}
a:hover {
    color: red;
}
#header-img {
    max-width: 30px;
    padding-left: 20px;
}
p {
    display: flex;
    flex-direction: row;
    align-items: center;
}
p {
    line-height: normal;
    margin: 2px;
}
h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.submit  {
    position: absolute;
    top: 10px;
}
.nav-link {
    color: inherit;
    justify-content: space-around;
    text-decoration: none;
    margin: 15px;
}
.nav-li{
    display: flex;

}
.email-form {
    margin-top: 120px;
    display: flex;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main input[type="email"] {
    width: 300px;
    padding: 5px;
}
#main input[type="submit"] {
    width: 110px;
    margin: 15px 0;
    padding: 1px;
    background: #f1c40f;
    border-radius: 5px;
}
#main input[type="submit"]:hover {
    background: orange;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
.level {
    background: #dddddd;
    width: 300px;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
}
li {
    list-style-type: none;
    margin-left: -30px;
    margin-right: 10px;
}
#pricing-class {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 769px){
    #pricing-class{
        display: flex;
         flex-flow: row wrap;
    }
   
}
.pricing {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(49, 49, 59);
    border-width: 1px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.select {
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin: -20px;
    color: inherit;
    background: #f1c40f;
    text-transform: capitalize;
}

.select:hover {
    cursor: pointer;
    background: orange;
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.15);;
}
.privacy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-transform: capitalize;
}
h4{
    padding-top: 0px;
    padding-bottom: 10px;
}
footer {
    width: 100%;
    margin: auto;
    background: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
  
}
.footer {
    color: inherit;
    text-decoration: none;
    margin: 15px;
    margin-left: 10px;
}
.copyright {
    margin-right: 25px;
    margin-bottom: 15px;
}
@media screen and (min-width: 769px) {
    footer {
        width: 1000px;

    }
}