@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');
body {
    font-family: 'Fira Sans', sans-serif;
    background: #111111;
    color: white;
    margin: 0px;
    /* padding: 8px; */
    overflow-x: auto;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    background: hsl(0, 100%, 40%);
    text-align: center;
    z-index: 1;
}
#navbar ul {
    display: flex;
    justify-content: flex-end;
}
#navbar ul li {
    font-size: 20px ;
    margin-right: 25px;
    list-style-type: none;
}
a {
   text-decoration: none;
   color: white;
}

#welcome-section {
    width: 100vw;
    height: 100vh;
}
.hero {
    position: relative;
    top: 45vh;
    left: 2vh;
}
#welcome-section .hero h1 {
    margin: 0px;
}
#welcome-section .hero p {
    font-family: 'open sans', sans-serif;
    margin: 0px;
    font-weight: 300;
}

#projects {
    text-align: center;
    padding-top: 64px;
}
header {
    font-size: 24px;
}
.info {
    text-align: justify;
    padding: 20px;
    margin: 0px;
}
#flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img {
    max-width: 350px;
    height: 200px;
    object-fit: cover;
}
 .container {
    max-width: 350px;
    height: 200px;
    margin: 24px auto;
}
.container:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 24px 1px rgba(255, 255, 255, 0.2);
}
.title {
    margin-top: 8px;
}
#contact {
    margin-top: 64px;
    margin-bottom: 64px;
    padding-left: 20px;
    padding-right: 20px;
}
#contact header {
    text-align: center;
}
.contact-me {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-links {
    padding: 8px;
}
i {
    padding-right: 8px;
}
.contact-links:hover {
    transform: translate(0px, -5px);
}

/* media queries for large phone */


@media only screen and (min-width: 768px){
    header {
        text-align: left;
        padding-left: 20px;
    }
    #contact {
        margin-top: 64px;
        margin-bottom: 64px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-me {
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
     #contact header {
        text-align: left;
    }
    #flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* media queries for extra small devices */

@media only screen and (max-width: 290px) {
    img {
        width: 200px;
    }
}