

/* add top nav start */
.topnav {
    background-color: #b2beb5;
    overflow: hidden;
   
 }
 .topnav active {
   color: blueviolet;
   
 
 
 }
 .topnav a {
     float: left;
     color: black;
     text-align: center;
     padding: 10px 10px;
     text-decoration: none;
     font-size: 17px;
 }
 .topnav a:hover {
     background-color: #fff;
     color: black;
   }
 /* top nav end */
 /* front page image start*/
  header {
    background-image: url(unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
  }
 